{{#each inputs}}
    <div class="{{ klass }}">
        {{#if label}}
        <label>{{ label }}</label>
        {{/if}}
        <input type="{{ type }}" placeholder="{{ placeholder }}" name="{{ name }}" {{ required }}>
    </div>
{{/each}}