{{#each inputs}}
  <div class="{{className}}">
    {{#if label}}
      <label>{{label}}</label>
    {{/if}}
    <input
      type="{{type}}"
      placeholder="{{placeholder}}"
      name="{{name}}"
      {{required}}
    />
  </div>
{{/each}}