{{#each chatlinePersons}}
<li class="chatline">
    {{{ photoPerson }}}
    <div class = 'info'>
        <div><span class="name">{{ namePerson }}</span> <span class="time">{{ timeLastMessage }}</span></div>
        <div><span class="message">{{ lastMessage }}</span> <span class="count">{{ countUnread }}</span></div>
    </div>
</li>
{{/each}}

